@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
    font-family: 'Roboto', sans-serif;
}

nav {
    background-color: #333333;
    color: white;
   
}

nav ul {
    display: flex;
    gap: 1.5em;
    list-style: none;
    margin-right: 10px;

}

.nav-links a {
    color: white;
    text-decoration: none;
}

.nav-links button {
    background-color: #28A2B8;
    color: white;
    box-shadow: 10px 5px 5px black;
}